@font-face {
	font-family: 'Mulish';
	src: url("../fonts/Mulish-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'Mulish';
	src: url("../fonts/Mulish-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'Mulish';
	src: url("../fonts/Mulish-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'Mulish';
	src: url("../fonts/Mulish-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap; }

* {
	-webkit-box-sizing: border-box;
					box-sizing: border-box; }

body {
	font-family: 'Mulish', sans-serif;
	font-weight: normal;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	margin: 0; }

a {
	display: inline-block;
	text-decoration: none;
	color: #fff; }
	a:hover, a:focus, a:active {
		text-decoration: none;
		outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: normal; }

ul {
	margin: 0;
	padding: 0; }

input,
button,
textarea,
select {
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	outline: none; }

img {
	max-width: 100%;
	height: auto;
	vertical-align: top; }

.c-container {
	width: 1300px;
	margin: auto;
	position: relative; }

.s-title {
	font-size: 58px;
	font-weight: bold;
	color: #2D394F;
	margin-bottom: 60px; }
	.s-title span {
		color: #FDB600; }

/* Header */
.header {
	padding: 20px 0; }
	.header-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between; }
	.header-contacts {
		text-align: right; }
		.header-contacts-item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
					-ms-flex-align: center;
							align-items: center;
			-webkit-box-pack: end;
					-ms-flex-pack: end;
							justify-content: flex-end;
			font-size: 20px;
			font-weight: 600;
			color: #5A6883;
			margin-bottom: 5px; }
			.header-contacts-item:last-of-type {
				margin-bottom: 0; }
			.header-contacts-item a {
				margin-left: 5px;
				font-weight: bold;
				color: #2D394F;
				-webkit-transition: .5s;
				-o-transition: .5s;
				transition: .5s; }
				.header-contacts-item a:hover {
					color: #FDB600; }
	.header-email a {
		font-weight: 600; }

/* Main section */
.main {
	padding-top: 10px;
	padding-bottom: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	z-index: 3; }
	.main-wrapper {
		width: 1500px;
		margin: auto;
		background-color: #F4F5F9;
		border-radius: 50px 0 0 50px;
		position: relative; }
		.main-wrapper:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: #F4F5F9;
			position: absolute;
			top: 0;
			right: -100%; }
	.main-wrap {
		padding: 180px 0; }
	.main-info {
		width: 510px; }
	.main-title {
		font-size: 68px;
		font-weight: bold;
		color: #2D394F;
		margin-bottom: 60px; }
	.main-list li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		font-size: 20px;
		font-weight: 500;
		color: #5A6883;
		margin-bottom: 25px; }
		.main-list li:last-child {
			margin-bottom: 0; }
		.main-list li img {
			-ms-flex-negative: 0;
					flex-shrink: 0;
			margin-right: 20px; }
	.main-img {
		width: 720px;
		position: absolute;
		top: 0;
		right: 0;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.main-img:hover {
			-webkit-transform: scale(1.02);
					-ms-transform: scale(1.02);
							transform: scale(1.02); }

.blocks-wrap {
	position: relative; }

.blocks-bg {
	width: 100%;
	height: calc(100% - 240px);
	background-color: #F4F5F9;
	position: absolute;
	top: 260px;
	left: 0;
	-webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
					clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
	z-index: 2; }

/* Solution section */
.solution {
	padding: 80px 0;
	position: relative;
	z-index: 3; }
	.solution-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
				-ms-flex-align: start;
						align-items: flex-start;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between; }
	.solution-info {
		width: 755px;
		padding-top: 45px; }
	.solution-text {
		font-size: 20px;
		line-height: 1.4;
		color: #5A6883;
		margin-bottom: 30px; }
		.solution-text:last-of-type {
			margin-bottom: 0; }
	.solution-shadow {
		position: absolute;
		top: -250px;
		left: 0; }
		.solution-shadow-tablet {
			position: absolute;
			top: -150px;
			left: 0;
			display: none; }
		.solution-shadow-mob {
			position: absolute;
			left: 0;
			top: 100px;
			display: none; }
	.solution-img {
		width: 415px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.solution-img:hover {
			-webkit-transform: scale(1.02);
					-ms-transform: scale(1.02);
							transform: scale(1.02); }

/* Revenue section */
.revenue {
	padding: 80px 0;
	position: relative;
	z-index: 3; }
	.revenue-title {
		text-align: center; }
		.revenue-title br {
			display: none; }
	.revenue-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		margin-bottom: 40px; }
	.revenue-item {
		background-color: #fff;
		border-radius: 20px;
		-webkit-box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
						box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
		width: 24%;
		text-align: center;
		padding: 80px 25px;
		position: relative;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.revenue-item:hover {
			background-color: #FDB600;
			-webkit-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
							transform: translateY(-10px); }
			.revenue-item:hover .revenue-item-number {
				color: #fff; }
			.revenue-item:hover .revenue-item-text {
				color: #fff; }
				.revenue-item:hover .revenue-item-text-top {
					color: #fff; }
		.revenue-item-number {
			font-size: 68px;
			font-weight: bold;
			color: #2D394F;
			margin-bottom: 30px;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s; }
		.revenue-item-text {
			font-size: 20px;
			color: #5A6883;
			line-height: 1.4;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s; }
			.revenue-item-text-top {
				font-size: 20px;
				color: #2D394F;
				width: 100%;
				position: absolute;
				top: 40px;
				left: 0;
				text-align: center;
				-webkit-transition: .5s;
				-o-transition: .5s;
				transition: .5s; }
	.revenue-text {
		color: rgba(90, 104, 131, 0.5);
		line-height: 1.4;
		margin-bottom: 10px; }
		.revenue-text:last-of-type {
			margin-bottom: 0; }

/* Steps section */
.steps {
	padding: 80px 0 100px;
	position: relative;
	z-index: 3; }
	.steps-title {
		text-align: center;
		margin-bottom: 80px; }
		.steps-title br {
			display: none; }
	.steps-slider {
		padding-top: 10px; }
	.steps-item {
		text-align: center;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.steps-item:hover {
			-webkit-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
							transform: translateY(-10px); }
		.steps-item-text {
			margin-top: 60px;
			color: #2D394F;
			line-height: 1.4; }
	.steps-progress {
		margin-top: 60px; }
		.steps-progress.swiper-pagination-progressbar {
			background: #5A6883;
			height: 4px;
			border-radius: 5px;
			overflow: auto;
			position: relative; }
			.steps-progress.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
				background: #FFE144;
				border-radius: 3px;
				height: 100%; }

/* Advantages section */
.advantages {
	padding-top: 100px;
	position: relative; }
	.advantages-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
				-ms-flex-align: start;
						align-items: flex-start;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		position: relative;
		z-index: 3; }
	.advantages-title br {
		display: none; }
	.advantages-img {
		position: relative;
		padding-left: 80px; }
		.advantages-img-tablet {
			display: none; }
		.advantages-img-desctop {
			width: 373px; }
	.advantages-tooltip {
		background-color: #fff;
		border-radius: 5px;
		-webkit-box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
						box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
		padding: 15px 30px; }
		.advantages-tooltip-1 {
			position: absolute;
			top: 150px;
			left: 0; }
		.advantages-tooltip-2 {
			position: absolute;
			top: 285px;
			right: -145px; }
		.advantages-tooltip-3 {
			position: absolute;
			bottom: 10px;
			left: 0; }
	.advantages-info {
		width: 470px; }
	.advantages-desc {
		font-size: 20px;
		color: #2D394F;
		line-height: 1.4;
		margin-bottom: 60px; }
	.advantages-list li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		font-size: 20px;
		color: #5A6883;
		margin-bottom: 15px; }
		.advantages-list li:last-child {
			margin-bottom: 0; }
	.advantages-list span {
		width: 19px;
		height: 16px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-ms-flex-negative: 0;
				flex-shrink: 0;
		margin-right: 10px; }
	.advantages-shadow {
		position: absolute;
		top: -400px;
		left: 0; }
		.advantages-shadow-tablet {
			position: absolute;
			top: -250px;
			left: 0;
			display: none; }
		.advantages-shadow-mob {
			position: absolute;
			bottom: -200px;
			left: 0;
			display: none; }

/* Innovative section */
.innovative {
	background-color: #F4F5F9;
	padding: 100px 0;
	position: relative;
	z-index: 3; }
	.innovative-info {
		width: 670px; }
	.innovative-desc {
		font-size: 20px;
		color: #2D394F;
		margin-bottom: 60px; }
	.innovative-list li {
		display: block;
		font-size: 20px;
		color: #5A6883;
		padding-left: 18px;
		margin-bottom: 15px;
		position: relative; }
		.innovative-list li:before {
			content: '';
			width: 8px;
			height: 8px;
			background-color: #2D394F;
			border-radius: 1px;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
							transform: translateY(-50%);
			left: 0; }
		.innovative-list li:last-child {
			margin-bottom: 0; }
	.innovative-img {
		width: 689px;
		position: absolute;
		top: 0;
		right: -40px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.innovative-img:hover {
			-webkit-transform: scale(1.02);
					-ms-transform: scale(1.02);
							transform: scale(1.02); }

/* How section */
.how {
	padding: 130px 0 205px; }
	.how-info {
		width: 650px; }
	.how-text {
		font-size: 20px;
		color: #5A6883;
		line-height: 1.6;
		margin-bottom: 30px; }
		.how-text:last-of-type {
			margin-bottom: 0; }
	.how-img {
		width: 636px;
		position: absolute;
		top: -60px;
		right: -40px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.how-img:hover {
			-webkit-transform: scale(1.02);
					-ms-transform: scale(1.02);
							transform: scale(1.02); }

/* Comfortable section */
.comfortable {
	padding: 80px 0; }
	.comfortable-title {
		text-align: center; }
	.comfortable-items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		margin-bottom: -20px; }
		.comfortable-items-wrap {
			width: 620px; }
	.comfortable-item {
		background-color: #F4F5F9;
		border-radius: 20px;
		padding: 40px 20px 70px;
		position: relative;
		margin-bottom: 20px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.comfortable-item:hover {
			-webkit-transform: scale(1.02);
					-ms-transform: scale(1.02);
							transform: scale(1.02); }
		.comfortable-item-title {
			font-size: 30px;
			font-weight: 600;
			color: #2D394F;
			margin-bottom: 20px; }
		.comfortable-item-desc {
			font-size: 20px;
			color: #2D394F;
			line-height: 1.6;
			margin-bottom: 20px; }
		.comfortable-item-list li {
			display: block;
			color: #5A6883;
			padding-left: 18px;
			margin-bottom: 10px;
			position: relative; }
			.comfortable-item-list li:before {
				content: '';
				width: 8px;
				height: 8px;
				background-color: #2D394F;
				border-radius: 1px;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%);
				left: 0; }
			.comfortable-item-list li:last-child {
				margin-bottom: 0; }
		.comfortable-item-text {
			width: 285px;
			color: #5A6883;
			line-height: 1.6;
			margin-bottom: 20px; }
			.comfortable-item-text:last-of-type {
				margin-bottom: 0; }
		.comfortable-item-img-1 {
			width: 337px;
			position: absolute;
			top: 40px;
			right: 60px; }
		.comfortable-item-img-2 {
			width: 239px;
			position: absolute;
			right: 60px;
			bottom: 0; }
		.comfortable-item-img-3 {
			width: 386px;
			position: absolute;
			right: 65px;
			bottom: 65px; }
		.comfortable-item-big {
			width: 660px; }
			.comfortable-item-big .comfortable-item-title {
				margin-bottom: 60px; }

/* Footer */
.footer {
	padding: 80px 0 60px;
	position: relative; }
	.footer .c-container {
		width: 950px; }
	.footer-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		margin-bottom: 30px;
		position: relative;
		z-index: 3; }
	.footer-contacts {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: end;
				-ms-flex-pack: end;
						justify-content: flex-end; }
	.footer-phone {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		font-size: 30px;
		font-weight: 500;
		color: #2D394F;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		margin-right: 60px; }
		.footer-phone:hover {
			color: #FFE144; }
		.footer-phone img {
			-ms-flex-negative: 0;
					flex-shrink: 0;
			margin-right: 10px; }
	.footer-email {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		font-size: 30px;
		font-weight: 500;
		color: #2D394F;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.footer-email:hover {
			color: #FFE144; }
		.footer-email img {
			-ms-flex-negative: 0;
					flex-shrink: 0;
			margin-right: 10px; }
	.footer-bottom {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		position: relative;
		z-index: 3; }
	.footer-copy {
		color: #5A6883; }
	.footer-link {
		color: #5A6883;
		border-bottom: 1px solid #5A6883;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.footer-link:hover {
			color: #FDB600;
			border-color: #FDB600; }
	.footer-shadow {
		position: absolute;
		bottom: 0;
		left: 0; }
		.footer-shadow-mob {
			position: absolute;
			bottom: 0;
			left: 0;
			display: none; }

.request {
	margin-bottom: 80px;
	position: relative;
	z-index: 3; }
	.request-title {
		text-align: center; }
		.request-title br {
			display: none; }
	.request-form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
				-ms-flex-align: end;
						align-items: flex-end;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between; }
		.request-form-input {
			width: 100%;
			height: 50px;
			background-color: #fff;
			padding: 0 30px;
			-webkit-box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
							box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
			border-radius: 5px;
			border: 1px solid transparent;
			font: 16px 'Mulish', sans-serif;
			color: #2D394F;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s; }
			.request-form-input:focus {
				border-color: #FDB600; }
			.request-form-input-title {
				font-size: 16px;
				font-weight: bold;
				color: #2D394F;
				margin-bottom: 10px; }
			.request-form-input-item {
				width: 360px; }
		.request-form ::-webkit-input-placeholder {
			color: rgba(90, 104, 131, 0.5); }
		.request-form-btn {
			width: 200px;
			text-align: center;
			background-color: #FFE144;
			padding: 15px;
			border-radius: 5px;
			-webkit-box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
							box-shadow: 0 0 15px rgba(45, 57, 79, 0.1);
			font: 600 16px 'Mulish', sans-serif;
			color: #2D394F;
			border: none;
			cursor: pointer;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s; }
			.request-form-btn:hover {
				background-color: #FDB600; }

/* Media(Adaptive) */
@media only screen and (max-width: 1550px) {
	.main-wrapper {
		width: auto;
		background-color: transparent;
		border-radius: 0; }
		.main-wrapper:after {
			display: none; }
	.main-wrap {
		background-color: #F4F5F9;
		border-radius: 50px 0 0 50px;
		position: relative;
		padding-left: 60px; }
		.main-wrap:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: #F4F5F9;
			position: absolute;
			top: 0;
			right: -100%; }
	.innovative-img {
		right: 0; }
	.how-img {
		right: 0; } }

@media only screen and (max-width: 1350px) {
	.c-container {
		width: 100%;
		padding: 0 20px; }
	.main {
		padding-bottom: 60px; }
		.main-wrap {
			padding: 120px 0 120px 35px; }
		.main-info {
			width: 50%; }
		.main-title {
			font-size: 58px; }
		.main-img {
			width: 50%; }
	.s-title {
		font-size: 34px;
		margin-bottom: 40px; }
	.solution {
		padding: 60px 0; }
		.solution-img {
			width: 30%; }
		.solution-info {
			width: 66%; }
	.revenue {
		padding: 60px 0; }
		.revenue-item-number {
			font-size: 44px; }
		.revenue-item-text {
			font-size: 18px;
			padding: 0 10px; }
			.revenue-item-text br {
				display: none; }
			.revenue-item-text-top {
				font-size: 18px; }
	.steps {
		padding: 60px 0; }
		.steps-item-text br {
			display: none; }
	.advantages-wrapper {
		-webkit-box-pack: end;
				-ms-flex-pack: end;
						justify-content: flex-end;
		padding-bottom: 80px; }
	.advantages-title br {
		display: block; }
	.advantages-img {
		padding-left: 60px;
		position: absolute;
		top: 0;
		left: 0; }
		.advantages-img-desctop {
			display: none; }
		.advantages-img-tablet {
			display: block; }
	.advantages-tooltip-1 {
		top: 110px; }
	.advantages-tooltip-2 {
		top: 210px;
		right: -60px; }
	.advantages-tooltip-3 {
		top: 340px;
		bottom: auto; }
	.advantages-info {
		width: 47%; }
	.advantages-shadow {
		display: none; }
		.advantages-shadow-tablet {
			display: block; }
	.innovative-info {
		width: 35%; }
	.innovative-desc {
		margin-bottom: 20px; }
	.innovative-img {
		right: 0; }
	.how {
		padding-bottom: 80px; }
		.how-info {
			width: 35%; }
	.comfortable-items-wrap {
		width: 47%; }
	.comfortable-item-big {
		width: 51%; }
	.comfortable-item-img-1 {
		width: 250px;
		right: 10px;
		top: auto;
		bottom: 10px; }
	.comfortable-item-img-2 {
		right: 10px; }
	.comfortable-item-img-3 {
		right: 10px;
		bottom: 10px;
		width: 300px; }
	.request-form-input-item {
		width: 38%; }
	.request-form-btn {
		width: 20%; } }

@media only screen and (max-width: 1023px) {
	.main-title {
		font-size: 40px;
		margin-bottom: 50px; }
	.main-img {
		width: 57%;
		top: 20px; }
	.solution-img {
		width: 33.7%;
		padding-top: 35px; }
	.solution-info {
		width: 61%;
		padding-top: 0; }
	.solution-shadow {
		display: none; }
		.solution-shadow-tablet {
			display: block; }
	.revenue-items {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		margin-bottom: 10px; }
	.revenue-item {
		width: 49%;
		margin-bottom: 20px;
		padding: 70px 20px 25px; }
		.revenue-item-number {
			font-size: 48px;
			margin-bottom: 20px; }
		.revenue-item-text {
			font-size: 20px;
			padding: 0 20px; }
			.revenue-item-text-top {
				top: 30px;
				font-size: 20px; }
	.steps-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		padding-left: 120px; }
		.steps-item img {
			-ms-flex-negative: 0;
					flex-shrink: 0; }
		.steps-item-text {
			margin-left: 70px;
			margin-top: 0; }
			.steps-item-text br {
				display: block; }
		.steps-item-img {
			width: 241px;
			height: 480px; }
	.advantages {
		padding-top: 80px; }
		.advantages-info {
			width: 42%; }
		.advantages-desc {
			line-height: 1.6;
			margin-bottom: 20px; }
		.advantages-list li {
			font-size: 16px; }
	.innovative {
		padding: 80px 0 40px; }
		.innovative-info {
			width: 100%;
			margin-bottom: 40px; }
		.innovative-title {
			text-align: center; }
		.innovative-list li {
			font-size: 16px; }
		.innovative-img {
			position: static;
			text-align: center; }
	.how {
		padding: 80px 0 40px; }
		.how-title {
			text-align: center; }
		.how-info {
			width: 100%; }
		.how-img {
			position: static;
			text-align: center;
			margin-top: 60px; }
	.comfortable {
		padding: 50px 0 60px; }
		.comfortable-items {
			display: block; }
			.comfortable-items-wrap {
				width: 100%; }
		.comfortable-item-big {
			width: 100%;
			padding-bottom: 220px; }
		.comfortable-item-img-1 {
			top: 40px;
			bottom: auto;
			right: 60px;
			width: auto; }
		.comfortable-item-img-2 {
			right: 60px; }
		.comfortable-item-img-3 {
			width: 320px;
			right: 60px;
			bottom: 40px; }
	.footer {
		padding: 60px 0; }
		.footer .c-container {
			width: 100%; }
		.footer-wrapper {
			margin-bottom: 20px; }
		.footer-phone {
			font-size: 20px;
			margin-right: 20px; }
			.footer-phone img {
				width: 20px;
				margin-right: 16px; }
		.footer-email {
			font-size: 20px; }
			.footer-email img {
				width: 24px;
				margin-right: 17px; }
	.request-title {
		margin-bottom: 60px; }
	.request-form {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap; }
		.request-form-input-item {
			width: 49%;
			margin-bottom: 20px; }
		.request-form-btn {
			width: 100%; } }

@media only screen and (max-width: 767px) {
	.main {
		padding-top: 25px;
		padding-bottom: 40px; }
		.main-wrap {
			padding: 40px 0 25px; }
		.main-info {
			width: 100%;
			padding: 0 20px; }
		.main-title {
			font-size: 34px;
			margin-bottom: 30px; }
		.main-list li img {
			margin-right: 10px; }
		.main-img {
			position: static;
			width: 100%;
			text-align: center;
			margin-top: 20px; }
	.s-title {
		font-size: 28px;
		margin-bottom: 30px;
		text-align: center; }
	.blocks-bg {
		-webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
						clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
		top: 500px;
		height: calc(100% - 500px); }
	.solution {
		padding: 40px 0; }
		.solution-wrapper {
			-ms-flex-wrap: wrap;
					flex-wrap: wrap;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
					-ms-flex-direction: column-reverse;
							flex-direction: column-reverse; }
		.solution-info {
			width: 100%; }
		.solution-img {
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
					-ms-flex-pack: center;
							justify-content: center;
			padding-top: 0;
			margin-top: 30px; }
			.solution-img img {
				width: 50%; }
		.solution-text {
			font-size: 18px; }
		.solution-shadow-tablet {
			top: 150px; }
	.revenue {
		padding: 40px 0; }
		.revenue-title {
			margin-bottom: 20px; }
			.revenue-title br {
				display: block; }
		.revenue-item {
			width: 100%;
			padding: 30px; }
			.revenue-item-text-top {
				position: static;
				margin-bottom: 10px; }
	.steps {
		padding: 40px 0; }
		.steps-title br {
			display: block; }
		.steps-item {
			padding-left: 0;
			display: block; }
			.steps-item-text {
				margin-left: 0;
				margin-top: 30px; }
			.steps-item-img {
				display: inline-block; }
		.steps-progress {
			margin-top: 40px; }
	.advantages-wrapper {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
						flex-direction: column-reverse;
		padding-bottom: 0; }
	.advantages-img {
		position: relative;
		padding: 0 40px;
		text-align: center;
		margin-top: 40px; }
		.advantages-img-tablet {
			display: none; }
		.advantages-img-desctop {
			display: block; }
		.advantages-img-wrapper {
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
					-ms-flex-pack: center;
							justify-content: center; }
	.advantages-tooltip-2 {
		right: 0;
		top: 300px; }
	.advantages-tooltip-3 {
		top: auto;
		bottom: 60px; }
	.advantages-info {
		width: 100%; }
	.advantages-shadow-tablet {
		display: none; }
	.advantages-shadow-mob {
		display: block; }
	.innovative-img {
		width: 100%; }
	.how-img {
		width: 100%; }
	.comfortable {
		padding: 40px 0; }
		.comfortable-title {
			margin-bottom: 80px; }
		.comfortable-items {
			margin-bottom: 0; }
		.comfortable-item {
			padding: 30px 20px;
			text-align: center; }
			.comfortable-item-title {
				font-size: 28px;
				text-align: left; }
			.comfortable-item-desc {
				text-align: left; }
			.comfortable-item-text {
				width: 100%;
				text-align: left; }
			.comfortable-item-list {
				text-align: left; }
			.comfortable-item-2 {
				padding-bottom: 0; }
			.comfortable-item-img-1 {
				position: static;
				-webkit-transform: translateX(-60px);
						-ms-transform: translateX(-60px);
								transform: translateX(-60px);
				margin-top: 30px; }
			.comfortable-item-img-2 {
				position: static;
				margin-top: 30px; }
			.comfortable-item-img-3 {
				position: static;
				margin-top: 30px; }
			.comfortable-item-big .comfortable-item-title {
				margin-bottom: 20px; }
	.footer {
		padding: 40px 0; }
		.footer-wrapper {
			-ms-flex-wrap: wrap;
					flex-wrap: wrap;
			-webkit-box-pack: center;
					-ms-flex-pack: center;
							justify-content: center; }
		.footer-logo {
			width: 100%;
			text-align: center;
			margin-bottom: 70px; }
		.footer-contacts {
			display: block; }
		.footer-phone {
			margin-bottom: 20px; }
		.footer-wrapper {
			margin-bottom: 40px; }
	.request {
		margin-bottom: 60px; }
		.request-title br {
			display: block; }
		.request-form-input-item {
			width: 100%; } }

@media only screen and (max-width: 495px) {
	.c-container {
		padding: 0 15px; }
	.header-logo {
		width: 110px; }
	.header-contacts-item {
		font-size: 14px; }
		.header-contacts-item a {
			font-size: 14px; }
	.main-list li {
		font-size: 19px;
		margin-bottom: 10px; }
		.main-list li img {
			width: 21px; }
	.s-title {
		font-size: 24px; }
	.blocks-bg {
		-webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
						clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%); }
	.solution-text {
		font-size: 16px; }
	.solution-shadow-tablet {
		display: none; }
	.solution-shadow-mob {
		display: block; }
	.revenue-item {
		margin-bottom: 10px; }
	.advantages {
		padding-top: 40px; }
		.advantages-desc {
			font-size: 16px; }
		.advantages-list li {
			margin-bottom: 10px; }
		.advantages-img {
			width: 330px; }
		.advantages-tooltip {
			font-size: 14px;
			padding: 10px 15px; }
			.advantages-tooltip-1 {
				top: 105px; }
			.advantages-tooltip-2 {
				top: 190px; }
		.advantages-shadow-mob {
			bottom: -350px; }
	.innovative {
		padding: 60px 0 40px; }
		.innovative-desc {
			font-size: 16px;
			margin-bottom: 15px; }
		.innovative-list li {
			margin-bottom: 10px; }
	.how {
		padding: 60px 0 40px; }
		.how-text {
			font-size: 16px;
			margin-bottom: 20px; }
			.how-text br {
				display: none; }
		.how-img {
			margin-top: 30px; }
	.comfortable-item-title {
		font-size: 24px; }
	.comfortable-item-desc {
		font-size: 16px; }
		.comfortable-item-desc br {
			display: none; }
	.comfortable-item-text {
		font-size: 16px; }
	.comfortable-item-list li {
		margin-bottom: 5px; }
	.footer-bottom {
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		-webkit-box-pack: center;
				-ms-flex-pack: center;
						justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
						flex-direction: column-reverse; }
	.footer-copy {
		width: 100%;
		text-align: center;
		margin-top: 20px; }
	.footer-shadow {
		display: none; }
		.footer-shadow-mob {
			display: block; } }

@media only screen and (max-width: 359px) {
	.main-title {
		font-size: 30px; }
	.main-list li {
		font-size: 16px; }
	.blocks-bg {
		-webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
						clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%); }
	.advantages-list li {
		font-size: 14px; }
	.advantages-img {
		width: 100%; }
	.advantages-tooltip-1 {
		top: 90px; }
	.advantages-tooltip-2 {
		top: 160px; }
	.advantages-tooltip-3 {
		bottom: 50px; }
	.innovative-list li {
		padding-left: 15px;
		font-size: 13px; }
		.innovative-list li:before {
			width: 6px;
			height: 6px; } }
